$blue: #30b5d8;
$blue2:#ace1ef;
$white: #ffffff;
$cream: #f3f0dc;
$menuColor: #847d80;
$black: #000000;
$black2:#363636;
$gray: #ededed;
$yellow: #f7d54a;
$pink: #ee514a;
$green: #2e8a7d;
$carouselArrowGreen: #247368;
$carouselArrowHover: #323232;
$publicBorder: #f2f2ef;
$footerFonColor: #ebebeb;
